body {
    font-family: "Dosis", sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container .box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #0c2131c4;
    margin: 20px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    overflow: hidden;
    /* box-shadow: 0px 0px 15px #fffefd; */
    /* Link */
}

.container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transition: left 0.5s;
}

.project-heading hr {
    margin-top: -1%;
    width: 30%;
    border-top: 2px solid #ffffff;
    animation: expandWidth 1.5s ease-out;
}

@keyframes expandWidth {
    from {
        width: 0%;
    }
    to {
        width: 30%;
    }
}

.container .box .boxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 15px;
    padding-top: 0%;
}

.container .box .boxContent .icon {
    color: #fffefd;
    font-size: 35px;
    padding-top: 15px;
}

.container .box .boxContent .title {
    font-size: 16px;
    color: #fffefd;
    font-weight: bold;
}

.container .box .boxContent .desc {
    color: #fffefd;
    font-size: 12px;
}

.container .box a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container .strongElement {
    font-weight: bold;
    color: #ffffff;
    font-family: Consolas;
}

.container .box:hover {
    background: linear-gradient(130deg, #ffffff 0%, #dadada 100%);
    box-shadow: 0 10px 30px rgba(12, 33, 49, 0.3);
    transform: translateY(-10px) scale(1.05);
}

.container .box:hover::before {
    left: 100%;
}

.container .box:hover .icon,
.container .box:hover .title,
.container .box:hover .desc,
.container .box:hover .strongElement {
    color: #0c2131;
    transition: 0.3s all ease-in-out;
}